* {
  margin: 0;
  padding: 0;
}

body {
  background-image:url('https://img.freepik.com/free-photo/top-view-desk-top-with-list-notebook_23-2148443714.jpg?w=740&t=st=1683009578~exp=1683010178~hmac=b6b8d87149e4802ce19463f6e175104792fad61dc7a96863d8bc1e88aec7ff65');
}

.app {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -10%);
  padding-top: 100px;
}

.app .mainHeading h1 {
  text-align: center;
}

.app h1,
h2 {
  color: rgb(255, 255, 255);
}

.app .input {
  display: flex;
  justify-content: center;
  align-items: center;
}

.app .input {
  margin-top: 0.8em;
  width: 20em;
  height: 2em;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 6px;
  padding: 5px;
}

.app .input input {
  width: 100%;
  height: 1.6em;
  border-color: rgb(255, 255, 255);
  outline-color: transparent;
}

.app i {
  cursor: pointer;
  font-size: larger;
  font-weight: 900;
  color: rgb(9, 9, 9);
  margin-right: 5px;
}
.app .todos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.app .todos .todo {
  margin-top: 0.8em;
  width: 20em;
  height: 2em;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 6px;
  border-color: rgb(255, 255, 25);
  padding: 5px;
}
.app .todos .todo .left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.app .todos .todo .left p {
  margin-left: 3px;
  font-size: medium;
  font-weight: 700;
  font-style: normal;
  color: rgb(0, 0, 0);
}

